:root{
  --box-shadow:5px 5px 10px 10px rgba(101,175,10,0.5);
  --bg-color:rgb(40,47,97);
}

body{
  background-color: rgb(11,26,51);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}



/*Navbar Section*/

.nav_bar{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.nav_bar .nav_items{
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}
.nav_bar .nav_items:hover{
  border-bottom: 3px solid ;
  border-color: yellow;
}

@media (max-width:768px) {
  
    
   .nav_bar{
    width:100%;
  
    display: block;
  }

  .nav_items{
    width:100%;
    display:block;
    align-items: end;
  }
  }



/*Home Section*/

.home {
  height:80vh;
  margin:0 auto;
  padding: 20px;
  display:flex;
  flex-wrap:wrap; 
  justify-content: space-between;
  align-items: center;
  text-align:center; 
}

.home .left {
  
  background-color: var(--bg-color);
  width:650px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border:1px solid yellow;
  box-shadow: var(--box-shadow);
}

.home .right .img {
  /* display: flex;*/
  justify-content: center;
  text-align: center;
  /* background-color: yellow; */
  /* height:350px; */
  /* width:350px; */
}

.home .right .img img {
  height:300px;
  width:300px;
  border: solid yellow;
  border-radius:100%;
  animation-name: photo;
  animation-duration:3s;
  animation-iteration-count: infinite;

}

@media (max-width:760px) {
  .home, .left, .right {
    width:100%;
  }
  
  /*.home {
    flex-direction: column;
    align-items: flex-start;
  }


  .left, .right {
    
    flex: 1 1 50%;
    margin: 5px 0;
    padding: 10px;
  }

  .left h1{
    font-size: 1.5em;
  }

  .btn {
    padding: 8px 16px;
    font: size 0.9em;
  } */


}



@keyframes photo{
  0%{
    border-color: blue;
    transform:translate(0,0px);
    box-shadow:10px 10px 100px 50px blue;
  }
  
  25%{
    border-color:rgb(239, 244, 11);
    box-shadow:10px 10px 100px 50px rgb(239,244,11) ;
  }

  50%{
    border-color:rgb(12,12,199);
    transform:translate(0,10px);
    box-shadow:10px 10px 100px 50px rgb(12,12,199);
  }

    75%{
      border-color:rgb(130,217,160);
      box-shadow:10px 10px 100px 50px rgb(130,217,160);
  }

  100%{
    border-color:rgb(50,55,205);
    transform:translate(0, -0px);
    box-shadow:10px 10px 100px 50px rgb(50,55,205);
  }

}


/* Experience Section */

/*.ex{
  width:900px;
}

.ex-items{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin:20px;
  padding:30px;
  width:800px;
  border-radius: 10px;
  border:1px solid yellow;
  box-shadow: var(--box-shadow);
}*/


.ex {
  max-width: 1200px;
  margin:0px auto;
  
}

.ex h1 {
 /* text-align: center;*/
  font-size: 2.5em;
  margin-bottom: 20px;
}

.ex-items {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  border:1px solid yellow;
  background-color: var(--bg-color);
  border-radius: 10px;
  margin:20px;
  padding:30px;
  
  
  
  box-shadow: var(--box-shadow);
}

.left, .right {
  flex: 1 1 45%;
  margin: 10px;
}

.left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.right {
  text-align: left;
}

.right h2 {
  font-size: 1.8em;
  margin: 0;
}

.right h4, .right h5 {
  margin: 5px 0;
}

@media (max-width: 768px) {
  
  .ex h1{
    padding:100px;
    margin:50px;
    
    
  }
  .ex-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .left, .right {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  .right h2 {
    font-size: 1.5em;
  }

  .right h4, .right h5 {
    font-size: 1em;
  }
}

/* Skills Section */

.skills {
  width: 900px;
}

.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 800px; */
  margin: auto;
  /* background-color: yellow; */
}

.skills .items .item {
  width: calc(33.33%);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.skills .items .item img {
  width: 70px;
}

@media (max-width:760px) {
  .skills .items .item {
    
    display:flex;
    flex:1 2 100%;
    
   
  }
}

/*Contact*/

.contact-icon{
  height:30vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.contact-icon .items{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid yellow;

}

.contact-icon .items:hover{
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons{
  font-size: 2rem;
}
